/backend/node_modules
/backend/.env

/frontend/node_modules
/frontend/.pnp
/frontend.pnp.*
/frontend.yarn/*
/frontend!.yarn/patches
/frontend!.yarn/plugins
/frontend!.yarn/releases
/frontend!.yarn/versions

/frontend/coverage

/frontend/.next/
/frontend/out/

/frontend/build

/frontend.DS_Store
/frontend*.pem

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*
/frontend.pnpm-debug.log*

/frontend.vercel

/frontend*.tsbuildinfo
/frontendnext-env.d.ts

/frontend.genkit/*
/frontend.env*

/frontendfirebase-debug.log
/frontendfirestore-debug.log